<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image upload</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <body>
    <div>
      <input
        type="file"
        accept="*/*"
        name="image"
        id="file"
        onchange="loadFile(event)"
      />
    </div>
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name">
    </div>
    <div>
      <label for="description">Description:</label>
      <textarea id="description" name="description"></textarea>
    </div>

    <script>
      function loadFile(event) {
        var form_data = new FormData();
        form_data.append('file', $('#file').prop('files')[0]);
        form_data.append('name', $('#name').val());
        form_data.append('description', $('#description').val());
        console.log($('#file').prop('files')[0]);
        console.log(form_data);

        $.ajax({
            type: 'POST',
            url: 'api/upload_file',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                console.log(data);
            },
            error: function(data) {
                console.log(data);
            }
        });
      }
    </script>
  </body>
</html>
